html, body {
    margin: 0;
}

#main_bar {
    background-color: #d10404;
    height: 100px;
    padding: 2% 0;
    display: flex;
}

.middle, #main_bar.middle, #menu_list.middle {
    padding-left: 15%;
    padding-right: 15%;
}

#logo_img {
    height: 65px;
    width: auto;
}

.icon {
    height: 25px;
    width: 25px;
    padding-right: 7px;
}

.vertical_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_bar_buttons {
    padding-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#search_bar {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
}

a {
    text-decoration: none;
}

.font_style {
    font-size: 15px;
    text-align: center;
}

a:active, a:focus {
    outline: none;
}

#menu_list {
    background-color: #a80000;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu_option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}


li.menu_option:hover {
    background-color: #770000;
}

#wrapper-searchbar {
    position: relative;
    margin: 0 10px;
    flex: 2;
    width: 100%;
}

#wrapper-searchbar img {
    position: absolute;
    top: 6px;
    right: -3px;
}

#slider {
    width: 100%;
    box-sizing: border-box;
}

.slide {
    display: none;
}

.container {
    width: 100%;
    height: auto;
    position: relative;
}

.point {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    margin: 10px;
    border-radius: 30%;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s;
}

.navigation_image {
    width: 100%;
}

.points{
    text-align: center;
    margin-top:-70px;
    position: relative;
    margin-bottom: 20px;
}

.active, .point:hover {
    background-color: red;
}

.default_font_style {
    color: #fff;
    font-family: monospace;
    font-weight: bold;
}

#social_media {
    background-color: #a80000;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

#find_us_label {
    font-size: 25px;
    text-align: center;
}

#social_media_icons {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.social_media_icon {
    height: 100%;
    width: auto;
}

#copyright {
    background-color: #d10404;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#copyright_text {
    font-size: 12px;
    text-align: center;
}

#age_selector {
    height: 210px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.age_pick {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle_pattern_1 {
    background-color: #d10404;
    border-color: #d10404;
}

.circle_pattern_2 {
    background-color: #fff;
    border-color: #d10404;
}

.age_format {
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}

.age_format_1 {
    color: #fff;
}

.age_format_2 {
    color: #d10404;
}

.paragraph_format {
    padding-top: 30px;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    color: #a80000;
    font-size: 30px;
}

#toy_top_wrapper {
    padding-bottom: 30px;
}


#toy_top {
    height: 450px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:  30px;
}

.toy_option {
    width: 19%;
    background-color: #fff;
    height: 90%;
    box-shadow: 1px 2px 5px #535353;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.toy_image {
    width: 100%;
    border-radius: 3%;
}

.vote_star {
    width: 20px;
    height: 20px;
}

.unchecked {
    color: #505050;
}

.checked {
    color: #d6b600;
}

.toy_offer_font_style {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

.toy_offer_name {
    color: #000;
}

.toy_offer_price {
    color: #d10404;
}

.toy_offer_votes {
    color: #000;
}
